<h1>Create</h1>
<% if(errors) { %>
    <% errors.forEach(error => { %>
        <p>Favor preencher o campo <%= error %></p>
    <% }) %>
<% } %>
<form method="post">
    <label for="name">Informe o nome da série</label>
    <input type="text" name="name" id="name">

    <select name="status" id="status">
        <% status.forEach( item => { %>
            <option value="<%= item.id %>"><%= item.name %></option>
        <% }) %>
    </select>

    <button>Adicionar</button>
</form>