<h1>Create</h1>
<form method="post">
    <label for="name">Informe o nome da série</label>
    <input type="text" name="name" id="name">

    <select name="status" id="status">
        <option value="to-watch">Assistir</option>
        <option value="watching">Assistindo</option>
        <option value="watched">Assistido</option>
    </select>

    <button>Adicionar</button>
</form>